*{
	margin:0;
	padding:0;
}
body{
	background-color:white;
	font-family: 'Roboto', sans-serif;
}
/* Header Portion */
#header{
	background-color:lightyellow;
	padding:10px;
	display: flex;
	flex-wrap:wrap;
}
#header h2{
	color:lightseagreen;
	font-family:georgia;
	margin-top: 60px;
	font-size: 50px;
	margin-left: 10px;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

#header img{
	width: 150px;
	margin-left: 50px;
}

/* Navigation Portion */
#nav{
	background-color:lightyellow;
	height:38px;
	margin-bottom: 5px;
}
#nav ul{
	background-color:lightyellow;
	list-style-type:none;
	z-index:999;
}
#nav ul li{
	float:left;
}
#nav ul li:last-child{
	border:none;
}
#nav ul li a{
	text-decoration:none;
	color:lightseagreen;
	display:block;
	padding:10px 20px;
	font-family:arial;
}
#nav ul li a:hover{
	color:lightslategrey;
	background-color:lightsalmon;
}
#nav ul li{
	position:relative;
}
#nav ul li ul{
	position:absolute;
	left:-99999px;
	background:lightyellow;
	transition: 0s all ease;
}
#nav ul li:hover ul{
	left:0;
}
#nav ul li ul li:first-child{
	border-top:1px solid lightyellow;
}
#nav ul li ul li{
	float:none;
	border-right:none;
	border-bottom:1px solid lightyellow;
	width:200px;
}
/* About Us */
.about-us{
	display: flex;
	align-items: center;
	justify-content: center;
	
	
}
.about-us img{
	margin-top: 5%;
	width: 700px;
	border: 2px solid lightblue;
	border-radius: 50px;
	margin-left: 1%;
	

}
 .about-us h1{
	text-align: center;
	padding: 15px;
	font-size: 40px;
}
.about-us h3{
	text-align: center;
	padding: 15px;
}
span{
	color: lightseagreen;
}
/* facility */
.wrapper-2{
	display: flex;
	align-items: center;
	justify-content: center;
}
.routes{
	margin-left: 5%;
	width: 30%;
	background-color:lightgrey;
	padding: 20px;
	margin-bottom:4%;
	border-radius: 10px;
	
}
.routes h1{
	padding: 5px;
	color:lightseagreen;
}
.routes ul{
	margin-left: 5%;
	padding: 10px;
	list-style-type:circle;
}
.routes div{
	border:2px solid lightgrey;
	background-color:white;
	margin-top: 5%;
	text-align: center;
}
.routes h2{
	padding: 5px;
	line-height: 60px;
	border-bottom: 1px solid black;
	background-color: lightcyan;
	color: lightseagreen;
}
.routes h2:last-child{
	border: none;
}
.facility{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightcyan;
	margin-bottom: 10%;
	margin-top: 5%;		
	height: 500px;
	width: 60%;
}
.facility div{
	background-color:#fff;	
	margin: 10px;
	width: 300px;
	padding: 5px;
	height: 300px;
	text-align: center;
	line-height: 30px;
	transition: 1s all ease;
}
.facility div:hover{
	box-shadow: 0px 0px 35px gray;
}
.small-margin{
	color:lightseagreen;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 5px;
}
/* Footer Portion */
#footer{
	background-color:lightyellow;
	padding:10px;
	text-align:center;
}
#footer p{
	color:black;
	font-weight: bold;
}












